<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Origins To do</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
<section class="section has-background-light" id="app">
    <div class="container">
        <nav class="level">
            <h1 class="title">
                ${message}
            </h1>
            <!-- Left side -->
            <div class="level-right">
                <div class="level-item"
                     v-html="logintext"
                     v-on:click="logout">
                    ${logintext}
                </div>
            </div>
        </nav>
    </div>
</section>
<section class="section" id="login" v-if="!token">
    <div class="container">
        <form class="login" @submit.prevent="login" method="post" novalidate="true">
        <div class="field">
            <p class="control has-icons-left has-icons-right">
                <input class="input" v-model="username" type="text" placeholder="User">
                <span class="icon is-small is-left">
                  <i class="fas fa-user"></i>
                </span>
            </p>
        </div>
        <div class="field">
            <p class="control has-icons-left">
                <input class="input" v-model="password" type="password" placeholder="Password">
                <span class="icon is-small is-right">
                <i class="fas fa-lock"></i>
                </span>
            </p>
        </div>
        <div class="field">
            <p class="control">
                <button v-on:click="login" class="button is-primary" type="button">
                    Login
                </button>
            </p>
        </div>
        </form>
    </div>
</section>
<section class="section" id="logic" v-if="token">
    <div class="container">
        <div class="buttons">
            <a class="button is-primary" v-on:click="openModal">Add New Task</a>
            (Only not completed:  <a class="button is-link is-small" v-on:click="showUnfinished">${filter}</a> )
        </div>
        <div class="columns">
            <div class="column is-one-third" id="user-list">
                <h1 class="title">Users</h1>
                <ul>
                    <li class="" v-for="user in users">
                        <a href="#" v-on:click="getTasks(user.id)">
                            ${user.username}
                        </a>
                    </li>
                </ul>
            </div>
            <div class="column">
                <h1 class="title">Tasks</h1>
                <li class="" v-for="task in tasks">
                    <a
                        href="#"
                        v-bind:style='{ "text-decoration": (task.completed ? "line-through" : "none")}'
                        v-on:click="updateTask(task.title, task.description, task.completed, task.id)"
                    >
                        <strong>${task.title}</strong> - ${task.description}
                    </a> <a v-on:click="deleteTask(task.id)" class="delete"></a>
                    <!--<span class="icon" v-if="currentUser == uid">-->
                        <!--<i v-on:click="editTask(task.title, task.description, task.id)" class="fas fa-edit"></i>-->
                    <!--</span>-->
                </li>
            </div>
        </div>
    </div>
    <div class="modal"
         v-bind:class="{ 'is-active': modal }">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Add Task</p>
                <button class="delete" v-on:click="closeModal" aria-label="close"></button>
            </header>
            <section class="modal-card-body">
                <div class="field">
                    <label class="label">Task</label>
                    <div class="control">
                        <input v-model="title" class="input" type="text" placeholder="Text input">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Description</label>
                    <div class="control">
                        <input v-model="description" class="input" type="text" placeholder="Text input">
                    </div>
                </div>
            </section>
            <footer class="modal-card-foot">
                <button class="button is-success" v-on:click="addTask">Add Task</button>
                <button class="button" v-on:click="closeModal">Cancel</button>
            </footer>
        </div>
    </div>
</section>
<section class="section">
    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                <strong>Origins</strong> ToDo test by <a href="https://www.linkedin.com/in/ericbujeque/">Eric Bujeque</a>. Using Python, Django and Vue.js.
            </p>
        </div>
    </footer>
</section>
<script src="{% static 'frontend/app.js' %}"></script>
</body>
</html>